<div id="app">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="#" [routerLink]="['/']">Quotes</a> |
        <a href="#" [routerLink]="['/new-quote']">Add a new Quote</a> |
        <a href="#" [routerLink]="['/signup']">SignUp</a> |
        <a href="#" [routerLink]="['/signin']">SignIn</a> |
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>