<div class="quote">
  <div class="quote-item">
    <a href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1024px-No_image_3x4.svg.png" alt="">
    </a>
    <div class="quote-item-body">
      <div class="quote-content">{{ quote.content }}</div>
      <div *ngIf="isLogin" class="editing-panel">
        <div *ngIf="editing">
          <input type="text" [(ngModel)]="editValue"><br><br>
          <span (click)="onUpdate()">Save</span>
          <span (click)="onCancel()">Cancel</span>
        </div>
        <div *ngIf="!editing">
          <span (click)="onEdit()">Edit</span>
          <span (click)="onDelete()">Delete</span>
        </div>
      </div>
      <div class="quote-social">
        <div class="quote-avatar">
          <div class="avatar">
            <!--<img src="" alt="">-->
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </div>
          <div class="authorLockup">Code Girl</div>
        </div>
        <div *ngIf="isLogin" class="quote-like" (click)="onLikeQuote()">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <span class="like-count">{{ quote.count_like === 0 ? null : quote.count_like }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
